
*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.otf') format('opentype');
  font-style: normal;
  font-weight: normal;
}

body{
  background: #f2f2f2!important;
  font-family: 'Poppins-Regular'!important;
  color: #19284d;
  font-size: 12px!important;  
}

b{
  font-family: 'Poppins-Bold';
}

i[title]:hover::after {
  content: attr(title);
  position: absolute;
  width: 100%;
  background: #fff;
  font-family: 'Poppins-Regular'!important;
  font-size: 10px;
  color: #19284d;
  border: 1px solid #dce2e7;
  box-shadow: rgba(105, 94, 232, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 5px;
  padding: 2%;
  z-index: 10;
}

.fa-info-circle{
    color: rgb(105 94 232 / 50%);
}

.content-all{
	max-width: 1000px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #19284d;
    background: #f8fcff;
    padding: 2% 0%!important;
    box-shadow: rgba(84, 91, 98, 0.2) 1px 0px 10px 0px;
    position: relative;
}

.cont-mixer{
    padding-right: 15px!important;
    padding-left: 15px!important;
}

.encabezado-potentor{
	width: 100%;
    height: 50px;
    padding: 0 2%;
}

.rounded h4{
    font-family: 'Gilroy';
    color: #19284d;
}

.rounded p{
    color: #695EE8!important;
    font-size: 18px;
}

.row-footer{
    display: flex;
    font-size: 12px;
}

.foo-ter{
    background: #fff;
    
}

.rf-diagnostico{
    margin: 0 5%;
}

.derechos-reservados{
    width: 50%;
}

.contenedor-del-boton-iniciar{
    width: 50%;
    text-align: right;
    position: relative;
}

.cont-btnPrints{
    display: flex;
    flex-direction: row-reverse;
}

.downloadPDF{
    border:1px solid #dce2e7;
    border-radius: 5px;
}

.downloadPDF:hover{
    border: 1px solid #695EE8;
}

.downloadPDF button:hover{
    color: #695EE8;    
}

.cdbi-txt{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    background: #695EE8;
    color: #fff;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 12px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    padding: 0.1rem;
}

.cdbi-txt button{
    color: #fff;
}

.cdbi-txt a:hover, .cdbi-txt:hover{
    text-decoration: none;
    background: #7369e7;
}

.cdbi-txt button:hover{
    color: #fff;
}

.btn-enviar{
    float: right;
    margin-top: 2%;
}


[data-toggle="collapse"] .fa:before {
  content: "\f054";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f078";
}

.card-header{
    color: white!important;
    padding: 0.25rem!important;
}
.btn{
    padding: 0.5rem!important;
}

.btn-titulo{
    width: 100%!important;
}

.btn-indice{
    background: #b4adff!important;
    width: 50%!important;
    font-size: 0.85rem!important;
    border: none!important;
    display: block!important;
    margin: 0 auto!important;
}

.btn-indice:hover{
    background: #695EE8!important;
}

.card-body{
    padding: 0.25rem!important;
    border: 1px solid #dce2e7!important;
}

.list-group-item{
    border: none!important;
}

.intelectuales{
   background: #3782C6;
   color: white;
   padding: 0.25rem;
}
.socioemocionales{
   background: #ED396A;
   color: white;
   padding: 0.25rem;   
}
.destudio{
   background: #f6941c;
   color: white;
   padding: 0.25rem;
}
.deejecucion{
   background: #966ba5;
   color: white;
   padding: 0.25rem;
}
.procesamiento{
   background: #34bda7;
   color: white;
   padding: 0.25rem;
}
.metacognitivas{
   background: #fed53c;
   color: white;
   padding: 0.25rem;
}

.metacognitivas button,
.intelectuales button,
.socioemocionales button,
.destudio button,
.deejecucion button,
.procesamiento button{
    color: white;

}


.intelectualesStats{
   border-bottom:2px solid #3782C6;
   color: #3782C6!important;
}
.socioemocionalesStats{
   border-bottom:2px solid #ED396A;
   color: #ED396A!important;   
}
.destudioStats{
   border-bottom:2px solid #f6941c;
   color: #f6941c!important;
}
.deejecucionStats{
   border-bottom:2px solid #966ba5;
   color: #966ba5!important;
}
.procesamientoStats{
   border-bottom:2px solid #34bda7;
   color: #34bda7!important;
}
.metacognitivasStats{
   border-bottom:2px solid #fed53c;
   color: #fed53c!important;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none!important;
}

.actived{
    background: #b4adff!important;
}

.list-group-item{
    display: inline-flex!important;
}

.content-group{
    width: 50%;
}

.content-group-txt{
    width: 80%;
}

.content-group-txt p{
    margin-bottom: 0;
}

.content-group-timer{
    width: 20%;
    text-align: right;
}

.content-group-timer a{
    color: #acacac!important;
}

.content-group a i {
    transition: all 0.3s linear;
}

.content-group a:hover i {
    transform: scale(1.1);
    color: #7c74dc;
}

.badges{
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    padding: 1%;
    text-align: center;
    background: #695EE8;
    color: white;
    box-shadow: 0px 5px 5px #7c74dc;
}

.aviso{
  width: 100%;
  height: 100vh;
  position: absolute;
  background: rgba(0,0,0,0.5);
  z-index: 10;
  top: 0;
  display: none;
}

.mensaje-responsivo{
  margin: 0 auto;
  background: #695EE8;
  max-width: 100%;
  height: 100vh;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: right;
  font-size: 25px;
  color: white;
}

.mensaje-responsivo img{
  display: block;
  margin: 0 auto;
}


/*ESTILOS INICIO DEL EVALUADO*/

.intro-potentor{
    text-align: left;
}

.intro-potentor span{
    font-size: 0.8rem;
}

.left-info{
    display: flex;
}


.carga-img{
    width:50%; 
    padding-left: 20%;
    text-align: center;
    cursor: pointer;
}

.carga-img label{
    cursor: pointer;
}

.avance-gral{
    width: 50%;
    padding-left: 15%;
}

#file{
    display: none;
}

.circle{
    display: inline-block;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-size: cover;
    cursor: pointer;
}

.cont-indicacion{
    width: 33%;
    text-align: center;
}

.cont-indicacion img{
    width: 25%;
    display: block;
    margin: 0 auto;
    margin-bottom: 3%;
}

#cont-perfil{
    width: 80px; 
    height: 80px; 
    border-radius: 56%; 
    overflow: hidden;     
    margin-left: 29%; 
}

.cont-up-down{
    position: relative;
}

#down-self{
    display: none;
    position: absolute;
    right: 25%;
    cursor: pointer;
}

#down-self b{
    font-size: 1.2rem!important;
    color: #c7c8ca!important;
}


/* CIRCULO DE AVANCE */

.progressArc{
  position: relative;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100px;
  width: 100px;
}
.progressArc div{
z-index:1; 
} 
.progressArc svg{
  background: #fff;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:0; 
}


/*CREAR MIXER*/
.crearMix-content{
display: flex;
}
.cM-form{
width: 60%;      
}
.cM-form form{
display: flex;
padding: 1%;
}
.inputs-group{
width: 70%;
}
.inputs-group input:focus, .inputs-group select:focus {
    outline: none !important;
    border:1px solid #695EE8;
    box-shadow: 0 0 10px #695EE8;
}
.btns-group{
width: 30%;
display: inline-grid;
align-content: space-evenly;
justify-content: space-around;
padding-top: 5%;
}
.cM-datosGral{
width: 40%;
}
.tiempoTotal{
background: #fff;
margin: 0% 3.4%;
}
.tiempoTotal p{
text-align: center;
margin-bottom: 0.5%;
}
.cM-data{
display: flex;
flex-wrap: nowrap;
justify-content: space-evenly;
align-items: center;
text-align: center;
}
.cM-total{
background: #fff;
width: 45%;
height: auto;
}
.cM-total p{
margin-bottom: 0;
border-bottom: 1px solid #4e57be;
}
.hovicon {
display: inline-block;
font-size: 45px;
line-height: 90px;
margin: 20px;
width: 90px;
height: 90px;
border-radius: 50%;
text-align: center;
position: relative;
text-decoration: none;
z-index: 1;
cursor: not-allowed;
}
.hovicon:after {
pointer-events: none;
position: absolute;
width: 100%;
height: 100%;
border-radius: 50%;
content:'';
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
}
.hovicon:before {
speak: none;
font-size: 48px;
line-height: 90px;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
display: block;
-webkit-font-smoothing: antialiased;
}
/* Effect 8 */
.hovicon.effect-8 {
background: rgba(105, 94, 232, 0.1);
-webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
-moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
transition: transform ease-out 0.1s, background 0.2s;
}
.hovicon.effect-8:after {
top: 0;
left: 0;
padding: 0;
z-index: -1;
box-shadow: 0 0 0 2px rgba(105, 94, 232, 0.1);
opacity: 0;
-webkit-transform: scale(0.9);
-moz-transform: scale(0.9);
-ms-transform: scale(0.9);
transform: scale(0.9);
}
.hovicon.effect-8:hover {
background: rgba(105, 94, 232, 0.05);
-webkit-transform: scale(0.93);
-moz-transform: scale(0.93);
-ms-transform: scale(0.93);
transform: scale(0.93);
color: #000;
}
.hovicon.effect-8:hover i {
color: #000;
}
.hovicon.effect-8:hover:after {
-webkit-animation: sonarEffect 1.3s ease-out 75ms;
-moz-animation: sonarEffect 1.3s ease-out 75ms;
animation: sonarEffect 1.3s ease-out 75ms;
}
@-webkit-keyframes sonarEffect {
0% {
opacity: 0.3;
}
40% {
opacity: 0.5;
box-shadow: 0 0 0 2px rgba(105, 94, 232, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(105, 94, 232, 0.5);
}
100% {
box-shadow: 0 0 0 2px rgba(105, 94, 232, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(105, 94, 232, 0.5);
-webkit-transform: scale(1.5);
opacity: 0;
}
}
@-moz-keyframes sonarEffect {
0% {
opacity: 0.3;
}
40% {
opacity: 0.5;
box-shadow: 0 0 0 2px rgba(105, 94, 232, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(105, 94, 232, 0.5);
}
100% {
box-shadow: 0 0 0 2px rgba(105, 94, 232, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(105, 94, 232, 0.5);
-moz-transform: scale(1.5);
opacity: 0;
}
}
@keyframes sonarEffect {
0% {
opacity: 0.3;
}
40% {
opacity: 0.5;
box-shadow: 0 0 0 2px rgba(105, 94, 232, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(105, 94, 232, 0.5);
}
100% {
box-shadow: 0 0 0 2px rgba(105, 94, 232, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(105, 94, 232, 0.5);
transform: scale(1.5);
opacity: 0;
}
}


/*CUADRICULA DATOS*/

.cuadricula{
    display: flex;

}

.cuadri-contenido{
    display: flex;
}

.cuadricula-info{
    width: 30%;
    background: #ffff;
    padding: 1% 1% 0 1%;
    margin: 1%;
}

.empty{
    background: #e6e7e8;
}
.txt-info{
    width: 70%;
}

.avance-prueba{
    width: 30%;
}

.clasi-prueba{
    margin-bottom: 0;
    font-size: 0.8rem;
    color: #a5a8ab;
}

.titulo-prueba{
    font-weight: 600;
    font-size: 1.5rem;
}

.timer-time{
    display: flex;
}

.timer-time i{
    color: #b5bfc8;
    padding-top: 5%;
}

.nom-ejercicios{
    color: #b5bfc8; 
}

.estatus{
    border-top: 1px solid #a5a8ab;
    padding: 1%;
    text-align: center;
    color: #695de8;
    cursor: pointer;
}

.estatuscheck{
    border-top: 1px solid #a5a8ab;
    padding: 1%;
    text-align: center;
    color: #a5a8ab;
    cursor: pointer;
}

.estatus p{
    margin-bottom: 0;
}

.vacio-footer{
    width: 70%;
}
.potentor-tip{
    width: 30%;
    display: flex;
    border-radius: 15px;
    border: 2px solid #e6e7e8;
    background: #fff;
    padding: 1%;
}

.tip-icon{
    padding: 3%;
    padding-top: 12%;
    border-right: 1px solid #e6e7e8;
}

.potentor-tip i{
    margin-top: 5%;
    color: #695de8;
}

.pro-tip{
    padding-left: 5%;
}

.pro-tip p{
    font-size: 0.7rem;
    color:#a5a8ab;
    
}


/*MODAL STYLES*/
.modal-dialog{
    max-width: 80%!important;
}
.listado_habilidades ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.listado_habilidades ul li{
    background: #b4adff;
    border-radius: 5px;
    color: white;
    padding: 1%;
    margin: 1%;
    cursor: pointer;
}

.listado_habilidades ul li:hover{
    background: #695EE8;
}

.btn-guardar{
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background: #695EE8;
    color: #fff;
    font-family: 'Poppins-Regular', sans-serif;
}


.btn-guardar:hover{
    background: #7369e7;
}

.btn-close{
    position: absolute;
    right: 0;
    top: 0;
}

.btn-close p{
    color: #695EE8;
}

.checado{
    background-color: green!important;
}
/*MODAL STYLES*/



/*STYLES EVALUADO*/
.titleVista{
background: #eceff2;
text-align: center;
padding: 0.5%;
}
.titleVista p{
margin-bottom: 0;
}
.datosAlumno{
width: 100%;
display: flex;
padding: 1% 5%;
position: relative;
background: #fff;
border-bottom: 1px solid #dce2e7;
}
.dA-txt{
padding-top: 1.2%;
}
.dA-txt p{
margin-bottom: 0;
}
.semaforo{
position: absolute;
right: 0;
width: 30%;
padding-top: 1.2%;
}
.semaforo span{
width: 100%;
display: block;
text-align: center;
margin-bottom: 5%;
}
.colorSemaforo{
float: left;
width: 33%;
}
.colorSemaforo div{
float: left;
margin-right: 5%;
}
.colorSemaforo p{
padding-top: 2.5%;
margin: 0;
}
.rojo{
width: 25px;
height: 25px;
border-radius: 15px;
background: #ed476e;
color: #fff;
text-align: center;
}
.amarillo{
width: 25px;
height: 25px;
border-radius: 15px;
background: #f49800;
color: #fff;
text-align: center;
}
.verde{
width: 25px;
height: 25px;
border-radius: 15px;
background: #6fcc4c;
color: #fff;
text-align: center;
}
/* The switch - the box around the slider */
.menu-tabla{
display: flex;
margin: 1% 0.5 0;
border-bottom: 1px solid #dce2e7;
padding: 0.5% 8%;
background: #f8fcff;
}
.menu-tabla-opcion{
padding-top: 0.2%;
margin-right: 0.5%;
margin-left: 0.5%;
}
.mto-title-active{
color: #695EE8;
}
.OpcTabalas{
padding-bottom: 3%;
}
/* The switch - the box around the slider */
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 25px;
}
/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}
/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #fff;
border: 2px solid #dce2e7;
-webkit-transition: .4s;
transition: .4s;
}
.slider:before {
position: absolute;
content: "";
height: 20px;
width: 20px;
left: 4px;
bottom: 2%;
background-color: #ece6f5;
border: 4px solid #695EE8;
-webkit-transition: .4s;
transition: .4s;
}
input:checked + .slider {
border: 2px solid #ece6f5;
}
input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
border-radius: 34px;
}
.slider.round:before {
border-radius: 50%;
}

.porPrueba{
display: flex;
width: 100%;
padding: 0 9%;
}
.card-porPrueba{
width: 30%;
margin: 0 auto;
}
.card-header-PorPrueba {
color: white;
padding: 5%;
}
.calif-porPrueba{
width: 30px;
font-size: 0.8rem;
padding-top: 1.2%;
position: absolute;
right: 2%;
}
.calif-porPrueba p{
margin-bottom: 0;
}
.porPuntaje{
display: flex;
width: 100%;
padding: 0 7.8%;
}
.PuntajeStats{
width: 30%;
margin: 0 auto;
}
.titlePuntaje{
width: 100%;
padding: 1%;
}
#alto .titlePuntaje{
color: #6fcc4c;
text-align: center; 
}
#promedio .titlePuntaje{
color: #f49800;
text-align: center;
}
#bajo .titlePuntaje{
color: #ed476e;
text-align: center;
}

/*STYLES EVALUADO*/


/*STYLES MENU GENERAL*/

.menuGeneral{
    width: 100%;
    
}

.menuGeneral ul{
    float: right;
    width: 40%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0;
}

.menuGeneral ul li{
    float: left;
    width: 30%;
    background: #f9f9f9;
    padding: 2% 1%;
    border: 1px solid #dce2e7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    cursor: pointer;
}


.mG-active{
    background: #fff!important;
    border: 1px solid #695EE8!important;
    border-bottom: 0!important;
    color: #695EE8;
}

.vistasGrales{
    background: #fff;
}
/*STYLES MENU GENERAL*/



/*TYLES INTERPRETACION*/

.contInfoInterp{
    display: flex;
    padding: 3% 7.8%;
}

.infoInterp{
    width: 45%;
    margin: 0 auto;
}

.califInterp{
    width: 30px;
    font-size: 0.8rem;
    padding-top: 0.8%;
    float: left;
    margin: 2%;
}

.titleInfoInterp{   
    font-size: 14px;

}
.titleInfoInterp p{
    padding-top: 2%;
}

.txtInfonInterp{
    padding-left: 11%;
}

.txtInfonInterp ul li::marker {
  font-size: 150%;
  color: #695EE8;
}

.txtInfonInterp ul li p {
    margin-bottom: 0;
}

.comentariosInfo{
    padding: 3% 7.8%;
    height: 40vh;
}

textarea::placeholder {
  opacity: 0.5;
  color: #ece6f5;
  font-size: 12px;
}




@media (max-width: 610px){

/*PROPIEDADES GENERALES*/
   .aviso{
      display: block;
   }

   .content-all{
    display: none;
   }
/*FIN PROPIEDADES GENERALES*/

}


@media (max-width: 991px) and (min-width: 767px){
    .carga-img {
      padding-left: 0%;
    }

    .avance-gral {
      padding-left: 2%;
    }

    .cuadricula-info {
      width: 46%;
    }

    .potentor-tip{
      width: 50%;
    }

    .crearMix-content {
      display: inline-grid;
      width: 100%;
    }

    .cM-form,.cM-datosGral{
        width: 100%;
        margin: 0 auto;
    }

        /*Styles Evaluado*/
    .semaforo {
        right: -1%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .colorSemaforo {
        width: 20%;
    }

    .colorSemaforo p {
        display: none;
    }

    .verde {
        margin-left: 0;
    }

    .menu-tabla {
        margin: 2% 0.5;
    }

    .porPuntaje {
        flex-direction: column;
    }

    .PuntajeStats {
        width: 80%;
        padding-top: 5%;
    }

    .porPrueba{
        display: flex;
        justify-content: space-around;
    }

    .card-porPrueba {
        width: 80%;
    }

    .porPrueba{
        flex-direction: column;
    }

    .card-porPrueba {
        width: 80%;
    }


    .menuGeneral ul {
        width: 100%;
    }

    .menuGeneral ul li {
        width: 33%;
    }

    .comentariosInfo {
        height: 20vh;
    }

    


}

@media (max-width: 767px) and (min-width: 610px){
    .txt-info{
        width: 85%;
    }

    .avance-prueba {
        width: 10%;
    }

    .carga-img {
      padding-left: 0%;
    }

    .circle {
      width: 50px;
      height: 50px;
    }
    .avance-gral {
      padding-left: 5%;
    }

    .progressArc {
      height: 60px;
      width: 60px;
    }
    
    .cuadricula-info {
      width: 98%;
    }

    .potentor-tip{
      width: 100%;
    }


    .crearMix-content {
      display: inline-grid;
      width: 100%;
    }

    .cM-form,.cM-datosGral{
        width: 100%;
        margin: 0 auto;
    }

    .btn-cM{
        width: 100px;
    }

    /*Styles Evaluado*/
    .semaforo {
        right: -1%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .colorSemaforo {
        width: 20%;
    }

    .colorSemaforo p {
        display: none;
    }

    .verde {
        margin-left: 0;
    }

    .menu-tabla {
        margin: 2% 0.5;
    }

    .porPuntaje {
        flex-direction: column;
    }

    .PuntajeStats {
        width: 80%;
        padding-top: 5%;
    }

    .porPrueba{
        flex-direction: column;
    }

    .card-porPrueba {
        width: 80%;
    }


    .menuGeneral ul {
        width: 100%;
    }

    .menuGeneral ul li {
        width: 33%;
    }

    .contInfoInterp {
        flex-direction: column;
    }

    .infoInterp {
        width: 80%;
    }


    .comentariosInfo {
        height: 54vh;
    }

    .derechos-reservados {
        width: 0%;
    }

    .contenedor-del-boton-iniciar {
        width: 100%;
    }

}

